@font-face {
  font-family: "RobotoReg";
  src: url("./asset/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("./asset/Roboto-Bold.ttf");
}

body {
  font-family: "RobotoReg", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
  width: 100vw;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid grey;
  height: 70px;
  font-size: 25px;
}

/* making a board */
#playeronegrid,
#playertwogrid,
#playeroneDisplay {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}
#playeroneDisplay {
  position: absolute;
  transform: translateY(-100%);
}
#playeroneDisplay > .box {
  padding: 1px;
  border: none;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  z-index: 99;
}

.turn {
  font-family: RobotoBold, Arial, Helvetica, sans-serif;
  margin: 10px;
  border: 1px solid grey;
  padding: 10px;
  color: white;
  background-color: black;
}

.ship {
  background-color: rgb(99, 250, 255);
}

.battleship1,
.battleship2,
.battleship3,
.battleship4,
.battleship5,
.battleship6 {
  background-image: url("./asset/carrier.svg");

  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
}

/* each ship */
.hit,
.sunk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hit::before {
  content: "";
  display: flex;
  justify-content: center;
  color: black;
  border: 8px solid red;

  border-radius: 50%;
}
.miss {
  background-color: rgb(195, 237, 247);
  opacity: 90%;
}
.sunk {
  font-weight: 800;
  font-size: 30px;
}
.sunk::before {
  content: "X";
  color: red;
}

/* BUTTONS */
button {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}
.restart {
  background-color: white;
  margin: 3px;

  position: absolute;
  left: 0;
}

.restart:active {
  position: absolute;
  top: 20px;
}

button:active {
  position: relative;
  top: 2px;
}
.hidden {
  display: none;
}

.start {
  width: 150px;
  background-color: rgb(202, 242, 255);
  margin: 10px;
}

@media only screen and (max-width: 900px) {
  .gameboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .box {
    height: 38px;
    width: 38px;
    border: 1px solid black;
  }
}
@media only screen and (max-width: 550px) {
  .gameboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .box {
    height: 30px;
    width: 30px;
    border: 1px solid black;
  }
}
